:root{
    --primaryColor: #ff206e;
    --primaryColor-hover: #c41954;
    --mainFont: "Open Sans", sans-serif;
}

body{
    font-family: var(--mainFont);
    font-size: 16px;
}

.fw__extraBold{
    font-weight: 800 !important;
}

.text__primary{
    color: var(--primaryColor);
}

/* --------------------------------------------------------------- */

.header .navbar .navbar-brand {
    font-size: 1rem;
    letter-spacing: 2px;
}

.header .navbar .navbar-brand:hover {
    color: var(--primaryColor) !important;
}

.header .navbar .nav-link {
    color: #FFF;
    font-size: 0.875rem;
}

.header .navbar .nav-link:hover,
.portfolio .nav-tabs .nav-link:hover{
    color: var(--primaryColor);
}

.header .navbar .navbar-nav .nav-link.active, 
.navbar .navbar-nav .nav-link.show,
.portfolio .nav-tabs .nav-item.show .nav-link, 
.portfolio .nav-tabs .nav-link.active  {
    color: var(--primaryColor);
}

.header .navbar .navbar-nav .nav-link.active:hover,
.hero .hero-content .link a:hover{
    color: var(--primaryColor-hover);
}

/* --------------------------------------------------------------- */

.hero{
    background-image: url(./../Images/hero/bg-hero.jpg);
    background-size: cover;
    background-position: center;
}

.hero .hero-content .social-media .list-item a{
    width: 32px;
    height: 32px;
    border-color: #222 !important;
    transition: all 1s;
}

.hero .hero-content .social-media .list-item a:hover{
    border-color: white !important;
}

/* --------------------------------------------------------------- */

.about, 
.portfolio{
    background-image: url(./../Images/public/light_dot.jpg);
}

.about .info .about-image img{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 30px;
}

/* --------------------------------------------------------------- */

.portfolio .nav-tabs {
    border-bottom: none;
}

.portfolio .nav-tabs .nav-link{
    color: black;
}

.portfolio .nav-tabs .nav-link {
    border: none;
}

/* --------------------------------------------------------------- */

.testimonials .carousel-indicators [data-bs-target] {
    box-sizing: border-box;
    flex: none;
    width: 5px;
    height: 5px;
    padding: 0;
    margin: 5px 7px;
    text-indent: 0;
    background-color: #D6D6D6;
    background-clip: unset;
    border: 0;
    border-radius: 50%;
    border-top: 0;
    border-bottom:0;
    opacity: 1;
}

.testimonials .carousel-indicators .active {
    background-color: black;
}

.testimonials .testimonial{
    border-color: #f4f4f4 !important;
}

.testimonials .testimonial .client-image img{
    width: 85px;
    border-color: white !important;
    top: -43px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, .15);
}

.testimonials .testimonial .client-title .job{
    font-size: 12px;
    color: #555;
}

.testimonials .testimonial .client-text{
    color: #212529;
}

.testimonials .testimonial .client-title h4:after {
    content: '';
    display: block;
    border-bottom: 1px solid #ff206e;
    margin: .75rem auto;
    width: 35px;
    transition: all .35s ease-in-out;
}