:root{
    --primaryColor: #ff206e;
    --primaryColor-hover: #c41954;
    --mainFont: "Open Sans", sans-serif;
}

body{
    font-family: var(--mainFont);
    font-size: 16px;
}

.header .navbar .navbar-brand {
    font-size: 1rem;
    letter-spacing: 2px;
}

.header .navbar .navbar-brand:hover {
    color: var(--primaryColor) !important;
}

.header .navbar .nav-link {
    color: #FFF;
    font-size: 0.875rem;
}

.header .navbar .nav-link:hover{
    color: var(--primaryColor);
}

.header .navbar .navbar-nav .nav-link.active, .navbar .navbar-nav .nav-link.show {
    color: var(--primaryColor);
}

.header .navbar .navbar-nav .nav-link.active:hover {
    color: var(--primaryColor-hover);
}

/* --------------------------------------------------------------- */

.hero{
    background-image: url(./../Images/hero/bg-hero.jpg);
    background-size: cover;
    background-position: center;
}

.fw__extraBold{
    font-weight: 800 !important;
}

.text__primary{
    color: var(--primaryColor);
}

.hero .hero-content .link a:hover{
    color: var(--primaryColor-hover);
}

.hero .hero-content .social-media .list-item a{
    width: 32px;
    height: 32px;
    border-color: #222 !important;
    transition: all 1s;
}

.hero .hero-content .social-media .list-item a:hover{
    border-color: white !important;
}
